@page
@model GruppProjectAPI.Pages.IndexModel

<h1>Weather Aggregator</h1>

@if (Model.WeatherList != null)
{
    <ul>
        @foreach (var w in Model.WeatherList)
        {
            <li>
                <b>@w.location.name</b>: @w.current.temperature °C,
                @w.current.weather_descriptions[0]
            </li>
        }
    </ul>

    <p><b>Genomsnittstemperatur:</b> @Model.AverageTemp °C</p>
}
else
{
    <p>Laddar väderdata...</p>
}
